:root{
  /* https://colorhunt.co/palette/178346 */
  --fill-color-one: rgba(255, 255, 255, .4);
  --fill-color-two: #10375c;
  --fill-color-three: #f3c623;
  --fill-color-four: #844685;
  --fill-color-five: #faf4ff;
  --background-color: var(--fill-color-two);
  --font-color: #303030;
  --font-color-dark: #9aa0b8;
  --link-color: #61dafb;
  --border-color: #9aa0b8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

/* Overrides button styles */
button {
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  font-family: inherit;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
  padding: 0 50px;
  font-family: "Neucha", Times;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.content-div {
  background-color: var(--fill-color-five);
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;
}

.border {
  border: solid 1px var(--border-color);
}

header {
  width: 100%;
}

#toparea {
  background-color: var(--fill-color-five);
  width: 100%;
  height: 100px;
  border-radius: 0 0 10px 10px;
  border-bottom: solid 5px var(--border-color);
  padding-top: 30px;
}

#toparea > h1 {
  margin: 5px 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

nav > a {
  flex-grow: 1;
  margin: 0 10px;
}

.nav-button {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  height: 35px;
  font-size: 25px;
  border-radius: 0 0 10px 10px;
  color: var(--font-color);
  background-color: var(--fill-color-five);
  transition: height 0.5s ease-in;
}

.nav-button.active {
  color: var(--fill-color-three);
}

.nav-button:hover {
  height: 60px;
}

.nav-button > p {
  position: relative;
  height: 25px;
}

.nav-button > p, .nav-button > svg {
  margin: 0 2px;
  align-self: flex-end;
}

.img-div {
  background-color: var(--fill-color-one);
  border-bottom: solid 3px var(--border-color);
  border-top: solid 3px var(--border-color);
}

img {
  border-radius: 30px;
  width: 50%;
  height: auto;
}

.text-content {
  margin: 20px 30px;
}

.title {
  margin: 30px 0 0 0;
}

#sources-div{
  width: 100%;
}

#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: auto;
  width: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--fill-color-three);
  color: var(--background-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#authors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 50px;
}

.author-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer; 
}

.author-picture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  filter: blur(2px) grayscale(100%);
  transition: width 0.2s ease-in, height 0.2s ease-in, filter 0.2s ease-in;
  user-select: none;
  display: block;
}

.author-picture:hover {
  filter: blur(0) grayscale(0);
}

.selected {
  height: 110px;
  width: 110px;
  filter: blur(0) grayscale(0);
}

.author-name {
  margin: 5px 0 0 0;
  font-size: 20px;
  display: block;
}

.author-picture > img {
  height: auto;
  width: 100%;
  transition-delay: 0.5s;
  transition: width 0.5s ease-in, height 0.5s ease-in;
  border-radius: 0;
  -webkit-user-drag: none;
}

.about-description {
  background-color: #b4b5d1;
  border-radius: 5px;
  margin: 0 auto 20px auto;
  width: 90%;
  max-width: 630px;
  overflow: hidden;
  padding: 15px 0;
}

.about-description.hidden {
  height: 0;
  margin: 0 auto;
  padding: 0;
}

.about-description > h2 {
  margin: 0;
  font-size: 40px;
  color: rgba(0,0,0,0.80);
}

.about-description > h3 {
  margin: 0;
  font-size: 20px;
  color: rgba(0,0,0,0.70);
}

.about-description > p {
  margin: 15px 0 0 0;
}

.about-description > h2, .about-description > h3, .about-description > p {
  margin-left: 15px;
  margin-right: 15px;
}

.footer {
  padding-bottom: 5px;
  color: var(--font-color-dark);
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .nav-button > p {
    display: none;
  }
}